<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Database UI with SQL and AJAX</title>
  <link rel="stylesheet" href="styles/stylesheet.css">
</head>

<body>
  {{{body}}}
  <script src="js/functions.js"></script>
</body>

</html>